body{
        padding: 0;
        margin: 0;
}
header{
    background-color: black;
}
nav
{
        padding: 20px;  
}
ul
{
    padding-top: 12px;
    margin: 0 0 0 650px;
    list-style: none;
}
li
{
    display: inline;
    color: #a0a0a0;
    font-size:smaller;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
}
.logo img
{
    position: absolute;
    margin-left: 200px;   
}
nav ul i
{
    
    padding: 2px;
    padding-left: 8px;
}
.firstsection {
    background-image: url(img/bgimage.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    font-family: "Verdana";
}
.firstsection h1
{
    font-weight: lighter;
}
.secondsection {
    text-align: center;
    padding-top: 60px;
    background-color: whitesmoke;
    height: 250px;

}
.box-main 
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    max-width: 80%;
    margin: auto;
    height: 70%;
}
.firsthalf
 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secondhalf 
{
    width: 30%;
}
.text-big
 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:lighter;
    font-size: 32px;
    text-align: center;
    
}
.text-small
 {
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: #383838;
}
.btn
{
    
    margin-left: 220px;
    padding: 6px 50px;
    margin-top: 20px;
    font-size: 16px;    
    background-color: black;
    color: #a0a0a0;
    font-size:medium;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}  
.column 
{
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 20px;
    height: 300px; 

}
.column  p
{   
    color: #a0a0a0;
    margin-left: 100px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}
.column  h2
{   
    
    color: #dddbdb;
    font-weight: normal;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 100px; 
}
.column2 
{
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 20px;
    height: 300px; 
    
}
.column2  p
{   
    color: #a0a0a0;
    margin-right: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}
.column2  h2
{   
    color: #dddbdb;
    margin-left: 10px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    
}
  .row:after 
{
    
    content: "";
    display: table;
    clear: both;
    
}

.wrap
{
  min-height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;

}
.wraps
{
  padding-bottom: 10px;
  min-width: 860px;
  max-width: 200px;
  min-height: 500px;
  display: flex;
  align-items: center;
  background-color: rgb( 221, 229, 229 );
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    

}
.forms
{
  padding: 3px 20px;
  margin: 8px 0;
  background-color: black;
  color: #dddbdb;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 380px;
  height: 390px;
  box-sizing: border-box;
}
.wrapped
{
      
    font-size: medium;
}
.Textbox
{
    width: 340px;
    height: 26px;
    
}
.Textbox3
{
    width:84px;
    height: 26px;
    float: left;
}
.Textbox4
{
    width:234px;
    height: 26px;
   float: right;
}
.btns
{
  width: 40%; 
  background-color: #d3940c;
  color: #dddbdb;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 10px 16px;
  margin: 8px 0;
  border: none;
}
.wrapped
{
  width: 50%;
  padding-left: 30px;
}
.footer {
    background-color: black;
    padding: 40px;
    color: #a0a0a0;
  }
.footer img
  {
    margin-left: 50px;
  }
 .footer p
 {
    margin: 0;
    margin-left: 52px;;
     font-size: 11px;
     font-family: sans-serif;
} 
.details
{   
    margin-top: 36px;
    float: right;

}
