* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 10%;
  background-color: #000000;
}

.logo {
  cursor: pointer;
  padding-left: 20px;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  color: #a0a0a0;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
  padding-right: 30px;;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}
nav ul i
{
    
    padding: 2px;
    padding-left: 8px;
}

.cta {
  padding: 9px 25px;
  background-color: whitesmoke;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: #000000;
}
.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 12px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}
.overlay i {
  padding: 20px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: whitesmoke;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

.firstsection {
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  font-family: "Verdana";
}
.firstsection h1
{
  font-weight: lighter;
}
.box-main 
{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  max-width: 80%;
  margin: auto;
  height: 70%;
}
.firsthalf
{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-big
{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight:lighter;
  font-size: 32px;
  text-align: center;
  
}
.text-small
{
  font-size: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #383838;
}
.btn
{
  padding: 6px 50px;
  margin-top: 20px;
  font-size: 16px;    
  background-color: black;
  color: #a0a0a0;
  font-size:medium;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}  
.section {
  padding-right: 10px;
  padding-left: 10px;
  height: 400px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: auto;
}
.paras {
  padding: 0px 65px;
}

.container {
  height: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

.column1 {
  padding: 1rem;
  background-color: hsl(0, 0%, 0%);
  padding-top: 70px;
  padding-left: 80px;
  padding-right: 80px;
}
.column1 h2
{
  color: #dddbdb;
  padding-bottom: 10px;
}
.column1 p
{
  color: #a0a0a0;
  font-size: 14px;
}
.column2 {
  padding: 1rem;
  background-color: hsl(0, 0%, 0%);
  padding-top: 70px;
  padding-left: 80px;
  padding-right: 80px;
}
.column2 h2
{
  color: #dddbdb;
  padding-bottom: 10px;
}
.column2 p
{
  color: #a0a0a0;
  font-size: 14px;
}


@media (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}
